/11.png
/133.png
/149.png
/159.png
/222.png
/239.png
/431.png
/450.png
/470.png
/480.png
/516.png
/adm_data.csv
/bodyPerformance.csv
/CC_GENERAL.csv
/Concrete_Data_Yeh.csv
/Country-data.csv
/data_kviz.csv
/df_selected_word.csv
/diabetes.csv
/Dry_Bean_Dataset.csv
/duvera.csv
/DU_01.ipynb
/DU_02.md
/errors.csv
/global_hotel_reviews.csv
/heart.csv
/hotel_bookings.csv
/house_prices.csv
/inventory.csv
/IRIS.csv
/kviz-10.ipynb
/kviz_01.ipynb
/kviz_02.ipynb
/kviz_03.ipynb
/kviz_04.ipynb
/kviz_05.ipynb
/kviz_06.ipynb
/kviz_07.ipynb
/kviz_09.ipynb
/kviz_10.ipynb
/lekce (1).ipynb
/lekce (10).ipynb
/lekce (2).ipynb
/lekce (3).ipynb
/lekce (4).ipynb
/lekce (5).ipynb
/lekce (6).ipynb
/lekce (7).ipynb
/lekce (8).ipynb
/lekce (9).ipynb
/lekce_1.ipynb
/lekce_10.ipynb
/lekce_2.ipynb
/lekce_3.ipynb
/lekce_4.ipynb
/lekce_5.ipynb
/lekce_6.ipynb
/lekce_7.ipynb
/lekce_8.ipynb
/lekce_9.ipynb
/movies.csv
/mushrooms.csv
/nba_logreg.csv
/netflix_titles.csv
/Python pro datovou vědu.code-workspace
/reseni (9).ipynb
/reseni(1).ipynb
/reseni_4.ipynb
/reviews.csv
/Salary_Data.csv
/sales_actual.csv
/spam_utf8.csv
/Student_Marks.csv
/Study_Marks_to_estimate.csv
/titanic.csv
/tmdb_5000_movies.csv
/WA_Marketing-Campaign.csv
/wine-regions.csv
/wine.csv
/Zadani_ukol_statistika (3).pdf